.table {
	--draggable-block-height: 0;
	width: fit-content;
}

.table__content {
	display: flex;
}

.table__hours {
	display: grid;
	grid-auto-rows: 120px;
	min-width: 80px;
	position: sticky;
	background-color: #fff;
	box-shadow: 1px 0 0 1px #ebebeb;
	left: 0;
	top: 0;
	z-index: 10;
}

.table__hours-value {
	box-shadow: -1px 0 0 1px #ebebeb;
	padding: 10px;
}

.table__doctors {
	display: flex;
	gap: 1px;
	padding-left: 1px;
}

.table__doctor-col {
	width: 160px;
	display: grid;
	grid-auto-rows: 120px;
	box-shadow: 0 0 0 1px #ebebeb;
	position: relative;
}

.table__doctor-col:nth-child(even) {
	background-color: #fcfcfc;
}

.table__doctor-hour {
	box-shadow: 0 0 0 1px #ebebeb;
	background-image: repeating-linear-gradient( to bottom, transparent 0 9px, #f1f1f1 0px 10px );
}

.active-hour {
	background-color: rgba(0,0,0, .05);
}

/* draggable block */
.draggable {
	position: absolute;
	left: 2px;
	width: calc(100% - 4px);
	border-radius: 2px;
	transform: translateY(1px);
	height: calc(var(--draggable-block-height) - 2px);
	cursor: pointer;
	font-size: 10px;
	z-index: 5;

	padding: 2px;
}

.draggable--one {
	background-color: gold;
}

.draggable--two {
	background-color: #ffbbf7;
}

.draggable--three {
	background-color: #8ce0ff;
}

.draggable--four {
	background-color: #ffca7b;
}

.dragging {
	opacity: 0.9;
	z-index: 50;
	box-shadow: 5px 5px 7px 0 rgba(0, 0,0, 0.3);
}

.intersected {
	background-color: red;
}

.table__head {
	display: flex;
	gap: 1px;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 20;
}

.table__info {
	width: 160px;
	box-shadow: 0 0 0 1px #ebebeb;
	padding: 6px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.table__info--empty {
	width: 80px;
	background: #fff;
	box-shadow: 1px 0 0 1px #ebebeb;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1;
}

.table__info-name {
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: bold;
}

.table__type-list {
	font-style: italic;
	font-size: 11px;
	flex-grow: 1;
}

.table__room-num {
	font-size: 11px;
	font-weight: bolder;
}

.table__type-item {
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-area {
	position: absolute;
	height: 100%;
	width: 70px;
	background: rgba(203, 203, 203, 0.3);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
}

.left-area::before {
	content: '\276E';
	position: sticky;
	top: calc(50vh - 40px);
	display: block;
	width: 70px;
	height: 80px;
	font-size: 80px;
	text-align: center;
	vertical-align: middle;
	color: rgba(203, 203, 203, 0.6);
}

.right-area {
	position: sticky;
	right: 0;
	height: 100%;
	width: 70px;
	background: rgba(203, 203, 203, 0.3);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
}

.right-area::before {
	content: '\276f';
	font-size: 80px;
	display: block;
	top: calc(50vh - 40px);
	position: sticky;
	width: 70px;
	text-align: center;
	vertical-align: middle;
	height: 80px;
	color: rgba(203, 203, 203, 0.6);
}

.left-area.active {
	opacity: 1;
	visibility: visible;
}

.right-area.active {
	opacity: 1;
	visibility: visible;
}

/* специализации */
.table__specialisations {
	display: grid;
	background-color: #fff;
	gap: 1px;
	font-size: 11px;
	grid-template-columns: 80px repeat(auto-fill, 160px);
	position: sticky;
	top: 0;
	z-index: 20;
}

.table__specialisation_item {
	padding: 4px;
	box-shadow: 0 0 0 1px #ebebeb;
	background-color: #fcfcfc;
	text-align: center;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}